{% extends "base.html" %}

{% block title %}{{datos.nombres}}{% endblock %}
{% block content %}
	<a href="/" style="display:block; text-align:center">volver</a>
	<ul>
	{% for dato in datos %}

		<li>
			<h4>{{dato.nombres}} {{dato.apellido}}</h4>
			<p><small>Vive en: {{dato.direccion}}</small></p>
			<a href="#{{dato.numero}}">Leer m&aacute;s</a>
		</li>

		<!-- si no hay ningun dato con empty mostramos algo -->
		{% empty %}
		<li>Actualmente no hay datos</li>
	
	{% endfor %}
	</ul>
{% endblock %}